p{
    
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-top:75px ;
    padding-left: 99px;
    background-color: rgba(245, 232, 232, 0.378);
    padding-right: 24px;
}