.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}

.left-sec{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-top: 8px;
    
}
.profilepic{
    width: 50px;
    height: 50px;
}
.cat-pic{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.cat-name{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    width: 100px;
}

.right-sec{

}

.sidebar1{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.835) ;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.img3,
.img2{
    width: 50px;
    height: 50px;
    margin-top: 8px;
}

.cat-img1{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}


.sidebar2{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.737) ;
    top: 0px;
    left: 70px;
    bottom: 0px;
    width: 170px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.info-line{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    justify-content: space-between;
    align-items: center;

}
.info{
    
    margin-left: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.plus{
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-size: 25px;
}

.update,
.faq,
.newvid{
    
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.538);
    font-family: Arial, Helvetica, sans-serif;

}