.inbox{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.email{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    align-items: center;
}

.cat-pic{
    width: 100%;
    border-radius: 100px;
    height: 100%;
    object-fit: cover;
}

.pfp{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.email-content{
    line-height: 1.4;
}
.email-line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}
.email-title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.time{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.messege-preview{
    display: flex;
    flex-direction: row;
    
}
.pfp2{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.catpic{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.attachment{
    display: flex;
    flex-direction: row;
    border-color: rgba(128, 128, 128, 0.294);
    border-width:1px; 
    border-radius: 10px;
    height: 100px;
    border-style: solid;
    width: 335px;
    margin-top: 10px;
}
.column1{
    background-color: rgba(128, 128, 128, 0.294);
    width: 100px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.column2{
    margin-left: 8px;
    width: 210px;
    padding-right: 10px;
    padding-top: 15px;
}